<launch>
  <arg name="config" default="$(find imitation_utils)/config/config.yaml" />
  <arg name="num_episodes" default="60" />
  <arg name="episode_duration" default="10.0" />
  <arg name="continue_existing" default="true" />
  <arg name="dataset_format" default="lerobot" />
  <arg name="task_name" default="manipulation" />
  <arg name="save_pickle" default="false" />
  <arg name="manual_start" default="true" />
  <arg name="manual_accept" default="true" />

  <node name="data_collector" pkg="imitation_utils" type="collect.py" output="screen">
    <param name="config" value="$(arg config)" />
    <param name="num_episodes" value="$(arg num_episodes)" />
    <param name="episode_duration" value="$(arg episode_duration)" />
    <param name="continue_existing" value="$(arg continue_existing)" />
    <param name="dataset_format" value="$(arg dataset_format)" />
    <param name="task_name" value="$(arg task_name)" />
    <param name="save_pickle" value="$(arg save_pickle)" />
    <param name="manual_start" value="$(arg manual_start)" />
    <param name="manual_accept" value="$(arg manual_accept)" />
  </node>

  <node name="collect_dashboard" pkg="imitation_utils" type="collect_dashboard.py" output="screen" />
</launch>
