<launch>
  <arg name="config" default="$(find imitation_utils)/config/config.yaml" />
  <arg name="num_episodes" default="60" />

  <node name="data_collector" pkg="imitation_utils" type="collect.py" output="screen">
    <param name="config" value="$(arg config)" />
    <param name="num_episodes" value="$(arg num_episodes)" />
  </node>
</launch>
